In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Superstore data
super_storedata = pd.read_excel(r'F:\GUVI_DATA_SCIENCE\Project\SQL\Superstore.xlsx')
super_storedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [25]:
#Creating an SQLAlchemy engine to connect to the database:
engine = create_engine('mysql+mysqlconnector://root:Mani2002@localhost/superstore_database')

In [26]:
# inserting superstore_data
super_storedata.to_sql('super_store_data', con=engine, if_exists='append', index=False, method='multi')
print("Data inserted successfully")

Data inserted successfully

In [29]:
# Returns data
return_data = pd.read_excel(r'F:\GUVI_DATA_SCIENCE\Project\SQL\Returns.xlsx')
return_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  296 non-null    object
 1   Order ID  296 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB

In [30]:
# Inserting return data
return_data.to_sql('return_data',con = engine,if_exists= 'append',method='multi',index=False)
print('data inserted successfully')

data inserted successfully

In [34]:
# People data
people_data = pd.read_excel(r'F:\GUVI_DATA_SCIENCE\Project\SQL\People.xlsx')
people_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Person  4 non-null      object
 1   Region  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes

In [36]:
# Inserting People data
people_data.to_sql('people_data',con = engine,if_exists= 'append',method='multi',index=False)
print('data inserted successfully')

data inserted successfully